@import url(http://fonts.googleapis.com/css?family=Roboto:400,300)

.advisor-card
  &:hover
    cursor pointer

  .avatar
    display block
    width 110px
    height 110px
    position relative
    margin-top 40px
    transform scale(1.2,1.2)

    img
      border-radius 50%

  h1
    font-size 24px
    font-weight 400
    text-align center
    color #263238
    width 100%
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    box-sizing border-box
    padding 0 20px

  h2
    font-size 18px
    color #90a4ae
    white-space nowrap
    display block
    overflow hidden
    text-overflow ellipsis
    width 100%
    padding 0 20px
    text-align center
    box-sizing border-box
    font-weight 300

    &:after
      content ""
      background-color #E3EBEE
      width 70px
      height 1px
      margin 20px auto 0 auto
      display block


