// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '~normalize.css/normalize.css'

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

// Goodness.
*,
::after,
::before
  box-sizing border-box

html,
body
  height 100%

body
  color #333
  font-family 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif'
  font-size 16px
  line-height 1.5
  background-color rgb(248, 248, 249)

grid(columnWidth)
  for count in (1..5)
    +between(columnWidth * count, columnWidth * (count + 1))
      width columnWidth * count
  
  +between(0, columnWidth)
    width 100%
  

.projects
  $cardWidth = 500px
  $cardMargin = 20px
  
  $columnWidth = $cardWidth + $cardMargin * 2
  
  grid($columnWidth)

  margin 30px auto 0 auto

  > div
    display inline-block
    width $cardWidth
    
    +between(0, $columnWidth)
      width 90%
      margin $cardMargin 5%
    
    margin $cardMargin
    
  &__card
    
    .header, .title
      
      &:hover
        cursor: pointer
        background-color: #eee
        -webkit-user-select: none
        