// Remember to use rems and ems. http://css-tricks.com/rems-ems.

//@import '~normalize.css/normalize.css'

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

// Goodness.
*,
::after,
::before
  box-sizing border-box

html,
body
  height 100%

body
  color #333
  font-family 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif'
  font-size 16px
  line-height 1.5
  background-color rgb(248, 248, 249)

grid(columnWidth)
  maxColCount = 5

  for count in (1..maxColCount)
    +between(columnWidth * count, columnWidth * (count + 1))
      width columnWidth * count

  +below(columnWidth)
    width 100%

  +above(columnWidth * maxColCount)
    width columnWidth * maxColCount


@import url(http://fonts.googleapis.com/css?family=Roboto:400,300)

.advisors
  margin 30px auto 0 auto

  $cardWidth = 300px
  $cardMargin = 20px

  $columnWidth = $cardWidth + $cardMargin * 2

  grid($columnWidth)

  .advisor-card

    width: $cardWidth
    margin: $cardMargin

    display inline-block

    padding-top 25px

.advisors, .project-page
  .advisor-card, .project__author__card, .project__project__card
    &:hover
      cursor pointer
      background-color #eee !important

    .avatar
      display block
      width 110px
      height 110px
      margin 10px auto 10px auto
      transform scale(1.2,1.2)

      img
        border-radius 50%

    h1
      font-size 24px
      font-weight 400
      text-align center
      color #263238
      width 100%
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      box-sizing border-box
      padding 10px 20px 0 20px

    h2
      font-size 18px
      color #90a4ae
      white-space nowrap
      display block
      overflow hidden
      text-overflow ellipsis
      width 100%
      padding 0 20px
      text-align center
      box-sizing border-box
      font-weight 300

      &:after
        content ""
        background-color #E3EBEE
        width 70px
        height 1px
        margin 20px auto 0 auto
        display block

.home-page
  margin 30px auto 0 auto

  $cardWidth = 550px
  $cardMargin = 20px

  $columnWidth = $cardWidth + $cardMargin * 2

  grid($columnWidth)

  .search__card, .projects__list__card, .advisors__list__card
    width $cardWidth
    margin $cardMargin

    vertical-align top

    display inline-block

    padding-top 25px

  .search__card
    padding 10px

    > div > div, input
      width 100% !important

.project-page
  margin 30px auto 0 auto

  $cardWidth = 550px
  $cardMargin = 20px

  $columnWidth = $cardWidth + $cardMargin * 2

  grid($columnWidth)

  .project__author__card, .project__project__card
    width: $cardWidth
    margin: $cardMargin

    display inline-block

    padding-top 25px

    vertical-align top

    word-wrap break-all

    max-width "calc(100vw - %s)" % ($cardMargin * 2 + 20px)
    min-width 200px

    .presentation
      padding-left 20px
      padding-right 20px

.text-center
  text-align center

.projects
  $cardWidth = 500px
  $cardMargin = 20px

  $columnWidth = $cardWidth + $cardMargin * 2

  grid($columnWidth)

  margin 30px auto 0 auto

  > div
    display inline-block
    width $cardWidth

    +between(0, $columnWidth)
      width 90%
      margin $cardMargin 5%

    margin $cardMargin

  &__card

    .header, .title

      &:hover
        cursor: pointer
        background-color: #eee
        -webkit-user-select: none

.profile-page
  margin 30px auto 0 auto

  $cardWidth = 500px
  $cardMargin = 20px

  $columnWidth = $cardWidth + $cardMargin * 2

  grid($columnWidth)

  .profile-card
    &:hover
      background-color #eee !important

  .content
    padding-right 20px
    padding-left 20px
    padding-bottom 20px

  .profile-card, .projects-list-card, .publications-list-card
    &:hover
      cursor pointer

    width: $cardWidth
    margin: $cardMargin

    display inline-block

    padding-top 25px

    vertical-align top

    .avatar
      display block
      width 110px
      height 110px
      margin 10px auto 10px auto
      transform scale(1.2,1.2)

      img
        border-radius 50%

    h1
      font-size 24px
      font-weight 400
      text-align center
      color #263238
      width 100%
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      box-sizing border-box
      padding 10px 20px 0 20px

    h2
      font-size 18px
      color #90a4ae
      white-space nowrap
      display block
      overflow hidden
      text-overflow ellipsis
      width 100%
      padding 0 20px
      text-align center
      box-sizing border-box
      font-weight 300

      &:after
        content ""
        background-color #E3EBEE
        width 70px
        height 1px
        margin 20px auto 0 auto
        display block
